@model IEnumerable<SapoProject.Model.Entities.Category>
<div>
	<a href="#" class="list-group-item active">
		Electronics
	</a>
	<ul class="list-group">
		@foreach (var item in Model)
		{
			<li class="list-group-item">
				<a asp-controller="Customer" asp-action="Index" asp-route-name="@item.CategoryName">@item.CategoryName</a>
			</li>
		}
	</ul>
</div>
<!-- /.div -->
