
@{
	Layout = null;
}

<!--upload Image HTML-->
<form action="upload.php" method="post" enctype="multipart/form-data">
	Select image to upload:
	<input type="file" name="fileToUpload" id="fileToUpload">
	<input type="submit" value="Upload Image" name="submit">
</form>
<!---->
<!--CKFINDER-->
<div class="col-xs-12 col-md-8">
	<div class="col">
		<input type="text" id="linking" class="form-control" readonly="readonly" />
		<button type="button" id="selectImg" class="btn-primary">Choose Image</button>
		<textarea id="noidung"></textarea>
	</div>
</div>
<!---->