<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
		<li><a asp-action="Order" asp-controller="Product">Order</a></li>
		<li><a asp-action="Logout" asp-controller="Customer">Logout</a></li>
	</ul>
</div>
