<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Sapo Project Admin</title>
	<link href="/Assest/dist/css/styles.css" rel="stylesheet" />
	<link href="~/css/MainStyleSheet.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>

	<script src="~/ckeditor/ckeditor.js"></script>
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		@await Component.InvokeAsync("Header")
		<!--	<partial name="PartialView_Header.cshtml" /> -->
	</nav>
	<div id="layoutSidenav">
		<partial name="PartialView_layout_SideLeft.cshtml" />
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					@RenderBody()
				</div>
			</main>
			<partial name="PartialView_Footer.cshtml" />
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="/Assest/dist/js/scripts.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script src="/Assest/dist/assets/demo/chart-area-demo.js"></script>
	<script src="/Assest/dist/assets/demo/chart-bar-demo.js"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
	<script src="/Assest/dist/assets/demo/datatables-demo.js"></script>
	<script src="/ckeditor/ckeditor.js"></script>
	<script src="/MainJavaScript.js"></script>
	<script src="~/ckfinder/ckfinder.js"></script>
</body>
</html>
