@model SapoProject.Areas.Admin.Models.DTO.AdvertisementCreate

@{
	Layout = "_Layout";
}

<h1>CreateAdvertisement</h1>

<h4>AdvertisementSlideShow</h4>
<hr />
<form enctype="multipart/form-data" asp-action="CreateAdvertisement">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="col">
		<h3><strong>@TempData["Message"]</strong></h3>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label asp-for="AdvertisementName" class="control-label"></label>
					<input asp-for="AdvertisementName" class="form-control" />
					<span asp-validation-for="AdvertisementName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="DateCreated" class="control-label"></label>
					<input asp-for="DateCreated" class="form-control" />
					<span asp-validation-for="DateCreated" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CompletedDate" class="control-label"></label>
					<input asp-for="CompletedDate" class="form-control" />
					<span asp-validation-for="CompletedDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="AdvertisementDestination" class="control-label"></label>
					<input asp-for="AdvertisementDestination" class="form-control" />
					<span asp-validation-for="AdvertisementDestination" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Status" class="control-label"></label>
					<select asp-for="Status" class="form-control" placeholder="Nhấn Để Chọn">
						<option value="0">CHO PHÉP Bắt Đầu Chiến Dịch Quảng Cáo</option>
						<option value="1">KHÔNG CHO PHÉP Bắt Đầu Chiến Dịch Quảng Cáo</option>
						
					</select>
					<span asp-validation-for="Status" class="text-danger"></span>
				</div>
			</div>
			<div class="col">
				<!--upload Image HTML-->
				<div class="form-group">
					<label asp-for="Photo" class="control-label myDIV"></label>
					<div class="custom-file">
						<input asp-for="Photo" class="form-control custom-file-input" />
						<label class="custom-file-label">upload</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<label asp-for="AdvertisementShortDescription" class="control-label myDIV"></label>
				<textarea class="ckeditor" asp-for="AdvertisementShortDescription"></textarea>
				<span asp-validation-for="AdvertisementShortDescription" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="AdvertisementLongDescription" class="control-label myDIV"></label>
				<textarea class="ckeditor" asp-for="AdvertisementLongDescription"></textarea>
				<span asp-validation-for="AdvertisementLongDescription" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
		</div>
	</div>
</form>

<div>
	<a asp-action="Index">Back to List</a>
</div>

