<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="row">
			<div style="margin-top:5px" class="col-lg-3">
				<div class="navbar-header">
					<a class="navbar-brand" asp-controller="Customer" asp-action="index"><strong>Sapo Project</strong></a>
				</div>
			</div>
			<div class="col-lg-6">
				@await Component.InvokeAsync("MainSearch")
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="col-lg-3">
				@await Component.InvokeAsync("ListMenuHeader")
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>