
<div class="col-md-12 footer-box">
	<div class="row">
		@*<div class="col-md-4">
			<strong>Send a Quick Question </strong>
			<hr>
			<form>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input type="text" class="form-control" required="required" placeholder="Name">
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input type="text" class="form-control" required="required" placeholder="Email address">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Submit Request</button>
						</div>
					</div>
				</div>
			</form>
		</div>*@
		
		<div class="col-md-8">
			<strong>Our Location</strong>
			<p>
				CÔNG TY CỔ PHẦN CÔNG NGHỆ SAPO (SAPO TECHNOLOGY JSC)<br/>
				Trụ sở  Tầng 6 - Tòa nhà Ladeco - 266 Đội Cấn - Phường Liễu Giai - Quận Ba Đình - TP Hà Nội<br />
				Call: +09-456-567-890<br>
				Chi nhánh  Lầu 3 - Tòa nhà Lữ Gia - Số 70 Lữ Gia - Phường 15 - Quận 11 - TP Hồ Chí Minh<br>

				Số 124 - Đường Lê Đình Lý - Phường Vĩnh Trung - Quận Thanh Khê - TP Đà Nẵng<br>

				Số 127 - Đường Lý Thường Kiệt - Phường Lê Lợi - TP Vinh - Tỉnh Nghệ An <br>
			</p>

		</div>
		<div style="margin-top:20px" class="col-md-4">
			Tổng đài tư vấn và hỗ trợ khách hàng: 1800 6750<br>

			Email: support@sapo.vn<br>

			Từ 8h00 – 22h00 các ngày từ thứ 2 đến Chủ nhật<br>
		</div>
		@*<div class="col-md-4 social-box">
			<strong>We are Social </strong>
			<hr>
			<a href="#"><i class="fa fa-facebook-square fa-3x "></i></a>
			<a href="#"><i class="fa fa-twitter-square fa-3x "></i></a>
			<a href="#"><i class="fa fa-google-plus-square fa-3x c"></i></a>
			<a href="#"><i class="fa fa-linkedin-square fa-3x "></i></a>
			<a href="#"><i class="fa fa-pinterest-square fa-3x "></i></a>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
			</p>
		</div>*@
	</div>
	<hr>
</div>
<!-- /.col -->
<div class="col-md-12 end-box ">
	&copy; 2020 | &nbsp; All Rights Reserved | &nbsp; https://www.sapo.vn/ | &nbsp; 24x7 support | &nbsp; Email us: support@sapo.vn
</div>
<!-- /.col -->