<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Sapo Project</title>
	<!-- Bootstrap core CSS -->
	<link href="~/ClientAssest/css/bootstrap.css" rel="stylesheet" />
	<!-- Fontawesome core CSS -->
	<link href="~/ClientAssest/css/font-awesome.min.css" rel="stylesheet" />
	<!--GOOGLE FONT -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<!--Slide Show Css -->
	<link href="~/ClientAssest/ItemSlider/css/main-style.css" rel="stylesheet" />
	<!-- custom CSS here -->
	<link href="~/ClientAssest/css/style.css" rel="stylesheet" />
	<link href="~/css/MainStyleSheet.css" rel="stylesheet" />
	<script src="~/js/MainJavaScript.js"></script>
	<!-- custom Slide show here -->
	<link href="~/css/SlideShow.css" rel="stylesheet" />
	<script src="~/js/SlideShow.js"></script>

	<!-- custom Slide show test here -->
	@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@

</head>
<body>
	@await Component.InvokeAsync("MainHeader")
	<div class="d-flex justify-content-center">
		@await Component.InvokeAsync("AdvertisementSlideShow")
	</div>
	<br />
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				@await Component.InvokeAsync("LeftSide")
			</div>
			<div class="col-sm-9">
				<div id="renderBodyid">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>
	<!--Footer -->
	@await Component.InvokeAsync("Footer")
	<!--Footer end -->
	<!--Core JavaScript file  -->
	<script src="~/ClientAssest/js/jquery-1.10.2.js"></script>
	<!--bootstrap JavaScript file  -->
	<script src="~/ClientAssest/js/bootstrap.js"></script>
	<!--Slider JavaScript file  -->
	<script src="~/ClientAssest/ItemSlider/js/modernizr.custom.63321.js"></script>
	<script src="~/ClientAssest/ItemSlider/js/jquery.catslider.js"></script>
</body>
</html>